################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SetVersion/DesignTimeBuild
/.vs/SetVersion/v16
/bin
/obj
